<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>URL - TinyApp Example</title>
</head>

<body>
  <% if (message){ %>
    <div class="alert <%= messageClass %>" role="alert">
      <%= message %>
  </div>
  
  <% }%>
            <div class="card-header"><%- include ('./partials/_header') %></div>
            <section class="mt-5">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                      <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Login to your account</h2>
                        <form action="/login" method="POST">
                          <div class="form-outline mb-4">
                            <input type="email" name ="email" id="email" class="form-control form-control-lg" required/>
                            <label class="form-label" for="email">Your Email</label>
                          </div>
          
                          <div class="form-outline mb-4">
                            <input type="password" id="pass" name="password" class="form-control form-control-lg" />
                            <label class="form-label" for="pass">Password</label>
                          </div>
          
                          <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn-block btn-lg text-body">Login</button>
                          </div>
          
                          <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="/register" class="fw-bold text-body"><u>Register here</u></a></p>
          
                        </form>
          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
</body>

</html>



